@import '../App';

$navbar-font-color-home: $white2;

.nav-wrapper > div  {
  display: flex;
  justify-content: center;
  font-family: $openSans;
  cursor: pointer;
}
.tab {
  margin: 4px 20px;
  opacity: 0.8;
}
.black-font {
  color: #000;
}
.white-font {
  color: $white2;
}
.tab:after {
  content: '/';
  position: relative;
  left: 20px;
}
.tab:last-child:after {
  content: ''
}
.tab:hover {
  animation: glow 0.3s ease forwards;
}
.underline-tab {
  text-decoration: none;
  position: relative;
}
.underline-tab:after {
  position: absolute;
  height: 1px;
  margin: 0 auto;
  content: '';
  left: -10%;
  right: 0;
  width: 120%;
  background-color: $font-color;
  bottom: -3px;
}
.burger-ico{
  display: none;
  height: 35px;
  width: 35px;
}
a {
  text-decoration: none;
}
.side-menu-container-hidden{
  display: none !important;
}
.side-menu-container-shown{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 50%;
  color: $white3;
  background-color: $menu-mobile-background;
  padding-top: 15px;
  padding-left: 15%;
}
@media screen and (max-width: 700px) {
  .burger-ico{
    display: block;
    height: 35px;
    width: 35px;
    z-index: 999;
    position: absolute;
  }
  .nav-wrapper {
    top: 0;

    div {
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 5rem;
    }
  }
  .tab{
    display: block;
    animation: fadeIn 0.5s ease-in-out;
    font-size: 25px;
  }
  .dummy{
    display: none;
  }
}
@keyframes glow {
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}
