h3 {
  color: $gray2;
}
.about-me-panel-wrapper {
  display: flex;
  flex-flow: column;
  height: auto;
  justify-content: center;
  padding: 4rem 0;

  @media screen and (max-width: 700px) {
    padding-top: 50px;
  }
}
.about-me-top-container {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;

}
.about-me-bottom-container {
  margin-top: 50px;
}
.facts-title {
  color: $gray2;
}
.facts-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.fact {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px auto;
  padding: 10px 35px;
  width: 150px;

  img {
    width: 80%;
  }
}
.fact-ico {
  height: 120px;
  width: 120px;
}
.technologies-label{
  text-align: center;
  text-decoration: none;
  position: relative;

  margin-bottom: 50px;
}
.technologies-label:after {
  position: absolute;
  height: 1px;
  margin: 0 auto;
  content: '';
  left: 0;
  right: 0;
  width: 60%;
  background-color: $gray;
  bottom: -10px;
}
.technologies-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 70vw;
}
.technologies-item-icon{
  height: 150px;
  margin: 0 auto;
}

.facts-title {
  margin-bottom: 1.1rem;
}

.fact-label {
  margin-top: 1rem;
  line-height: 1.4rem;
}

.blog-section__container {
  margin: 3rem 2rem 0;
  max-width: 1200px;
}

.blog-section__container {
  ul {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-top: 2rem;
  }
  a {
    color: $primary-font-color;
    display: block;
    padding-top: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
  }
  p {
    color: $gray2;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 950px) {
  .about-me-top-container {
    display: block;
  }
  .facts-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .technologies-wrapper{
    display:block;
  }
  .technologies-item-icon{
    height: 100px;
    width: 100px;
  }
  .about-me-wrapper{
    margin-bottom: 0;
  }
  .blog-section__container > ul {
    flex-direction: column;
    align-items:center;
  }
}

@media screen and (max-width: 450px) {
  .facts-wrapper {
    grid-template-columns: 1fr;
  }
}
