/* palette */
$gray: #707070;
$gray2: #8e8e8e;
$gold: #a18c00;
$white: #fff;
$white2: #E0E0E0;
$white3: #F2F2F2;
$darkgreen: #1b3e1b;
/* *** */

/* theme */
$primary-color: #1b3e1b;
$secondary-color: #1b3e1b;
$secondary-color-highlighted: #236123;

$bckg-color: #FFF;
$font-color: #101b0f;

$primary-font-color: #836E00;
$menu-mobile-background: rgba(20,31,46,0.67);

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Playfair+Display');

$openSans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$playFair: 'Playfair', serif;
/* *** */

@import '../styles/menubar/menubar.scss';
@import '../styles/menubar/nav.scss';
@import '../styles/menubar/socialMediaIcons.scss';
@import '../styles/panels/about-me/index.scss';
@import '../styles/panels/contact/index.scss';
@import '../styles/panels/home/index.scss';
@import '../styles/panels/projects/index.scss';
@import '../styles/panels/projects/projectsGallery.scss';
@import '../styles/blog/index.scss';
@import '../styles/blog/posts/index.scss';
@import '../styles/blog/post-thumbnail/index.scss';
@import '../styles/progress-bar/progressBar.scss';
@import '../styles/rounded-heart/rounded-heart.scss';
@import '../styles/scroll-indicator/scroll-indicator.scss';
@import '../styles/buttons/buttons.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $montserrat;
  font-weight: 300;
  color: $font-color;
  background: $bckg-color;
  cursor: default;
  scroll-behavior: smooth;
}

.scroll-container {
  max-width: 100%;
  min-height:100vh;
  overflow: auto;
}

footer {
  color: $white2;
  font-size: 13px;
  bottom: 5px;
  text-align: center;
  position: relative;

}

.line {
  position: relative;
  margin: 0 auto;
  bottom: 20px;
  width: 80vw;
  border-top: solid 1px $white2;
}

.section-title {
  padding-bottom: 8px;
}
