@import '../../App';

.project-number{
  display:flex;
  align-items: center;
  justify-content: center;
  border: solid $primary-color 3px;
  font-size: 30px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.preview-number{
  display: flex;
}
.project-number-wrapper{
  display: flex;
}
.to-the-right{
  justify-content: flex-end;
}
.preview-desc-container{
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 50px;
  margin-bottom: 25px;
}
.row-reverse{
  flex-direction: row-reverse;
}
.projects-list-wrapper{
  text-align: center;
}
.project-video{
  width: 50%;
}
.desc-container{
  margin: 0 25px;

  max-width: 40%;

  @media screen and (max-width: 700px) {
    max-width: initial;
  }

}
.project-img {
  margin: 0 auto;
  max-height: 500px;
  max-width: 46vw;
}
.project-vid{

}
.project-name{
  margin-bottom: 10px;
  text-align: center;
  font-size: 25px;
}
.project-desc{
  text-align: center;
  line-height: 1.6rem;
}
.underline-project-name{
  text-decoration: none;
  position: relative;
}
.underline-project-name:after{
  position: absolute;
  height: 1px;
  margin: 0 auto;
  content: '';
  left: 0;
  right: 0;
  width: 50%;
  background-color: $gray2;
  bottom: -5px;

  animation: expandSideways 2s cubic-bezier(.37,.9,0,1.01);
}
.tech-stack {
  font-size: 0.9em;
  color: $gray2;
  margin-bottom: 10px;
}
.project-repo{
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5px;
  color: $secondary-color;
  font-weight: bold;
}
.project-repo:hover{
  color: $secondary-color-highlighted;
}

.project-demo{
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin-top: 6px;

  color: $gold;
  font-weight: bold;
}
.project-demo:hover{
  color: $primary-font-color;
}

@media screen and (max-width: 700px) {
  .project-video{
    width: 100%;
  }
  .preview-desc-container{
    display:block;
  }
  .desc-container{
    margin-top: 25px;
  }
  .project-number-wrapper{
    display: block;
  }
}
