.social-icons-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 40px 0 0;
}

.social-icon {
  margin-left: 20px;
  height: 27px;
  width: 27px;
}


@media screen and (max-width: 700px) {
  .social-icon {
    height: 30px;
    width: 30px;
  }
}
