@import './callToActionButton.scss';

.btn {
  display: flex;
  height: 100%;
  padding: 10px 15px;
  align-content: center;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: #1b2f46 0 0 5px;
  margin: 15px auto;
  text-align: center;
}
.btn-text {
  height: 100%;
}
